.relativeForm {
    position: relative;
    padding-top: 10px;
    border: 2px solid #41412f;
    border-radius: 5px;
    background: #f5f1bb;
  }
  
  .listForm {
    height: 400px;
    width: 400px;
  }

  fieldset {

      border: none;
  }

  .formNotes {
    margin-left: 8px;
    padding-bottom: 20px;
  }

.cancelList {
    margin-left: 2px;
}


/* 
.title {
    margin: 0 0 0 5px;
}

.description {
    margin: 0 0 0 5px;
    font-size: medium;
}

.listHeader {
    margin: 10px 0 10px 5px;
}

input {
    margin: 0 0 5px 5px;
}

.listSpan {
    position: absolute;
    right: 4px;
}

.listButton {
    font: inherit;
    font-size: medium;
    margin: 0 0 5px 5px;
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #656749;
}

li {
    padding: 20px;
    border-top: 1px solid #ccc;
    scroll-snap-align: start;
    background: #f5f1bb;
} */




