

.bigDiv {
  height: 300px
}


.itemList {
  position: relative;
  padding: 0px;
  background: #f5f1bb;
  
}


.relativelist {
  background: #f5f1bb;
  width: 450px;
  margin-top: -100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #656749;
}

li {
  padding: 20px;
  border-top: 1px solid #ccc;
  scroll-snap-align: start;
  background: #f5f1bb;

}




input {
  margin: 0 0 5px 5px;
  font: inherit;
}

button {
  font: inherit;
  font-size: medium;
}

.itemSpan {
  position: absolute;
  right: 4px;
}

.itemButton {
  font: inherit;
  font-size: medium;
  position: absolute;
  right: 4px;
  bottom: 8px;
}

.itemHeader {
  margin: 10px 0 10px 5px;
}





