@media screen and (min-width:769px) {

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


  .site-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/grocerycart.png') no-repeat bottom right #ffffff;
    background-size: contain;
  }


  .locationSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .map {
    border: 2px solid #37392e;
    border-radius: 5px;
  }

 

  .spanLocation {
    margin: 0 0 5px 5px;
  }

  .locationHeader {
    text-align: center;
  }

}


@media screen and (max-width: 575px) {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


  .site-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/grocerycart.png') no-repeat bottom right #ffffff;
    background-size: contain;
  }


  .locationSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }


  .map {
    margin-top: 24%;
    border: 2px solid #37392e;
    border-radius: 5px;
    width: 95%; /* Set the width to 100% to ensure it takes the full container width */
    max-height: 60vh; /* Use viewport height to limit the maximum height to 50% of the viewport height */
    overflow: hidden; /* Hide any overflow content */
  }

 

  .spanLocation {
    margin: 0 0 5px 5px;
  }

  .locationHeader {
    text-align: center;
  }
}