.locationSection {
  width: 607px;
  height: 490px;
  border: 2px solid #37392e;
  border-radius: 5px;
}


.map {
  width: 605px;
  height: 490px;
  border: 2px solid #37392e;
  border-radius: 5px;
  position: absolute;  
}

.searchLocation {
  width: 607px;
  height: 30px;
}

.spanLocation {
  margin: 0 0 5px 5px;
}

.locationHeader {
  margin: 3px 5px;
}

