
@import url('https:\/\/fonts.googleapis.com\/css2?family=Urbanist:wght@300&display=swap');

@media screen and (min-width:769px) {
.emailInput {
  margin-top: 15px;
  margin-right:9px;
}

.emailLabel {
  border: 2px solid rgb(233, 137, 137);
  border-radius: 5px;
  padding: 0 5px 0 5px;
  background-color: rgb(241, 207, 175);;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(47, 255, 154), rgb(255, 41, 30));
  font-family: 'Urbanist', sans-serif;
}

.loginCenter {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}


.loginCenter h1 {
  font-size: 2em;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.loginCenter h2 {
  font-size: 1em;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.loginCenter .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.loginCenter .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: 'Urbanist', sans-serif;

}
.loginCenter .inputbox:last-child {
  margin-bottom: 0;
}
.loginCenter .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: 'Urbanist', sans-serif;

}
.loginCenter .inputbox input:focus ~ span,
.loginCenter .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
  font-family: 'Urbanist', sans-serif;
}
.loginCenter .inputbox [type="submit"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.loginCenter .inputbox:hover [type="submit"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.loginCenter h1 img {
  height: 3rem;
}

}




@media screen and (max-width: 575px) {

  .emailInput {
    margin-top: 15px;
    margin-right:9px;
  }
  
  .emailLabel {
    border: 2px solid rgb(233, 137, 137);
    border-radius: 5px;
    padding: 0 5px 0 5px;
    background-color: rgb(241, 207, 175);;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, rgb(47, 255, 154), rgb(255, 41, 30));
    font-family: 'Urbanist', sans-serif;
  }
  
  .loginCenter {
    padding: 2%;
    background: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  
  }





  .loginCenter h1 {
    font-size: 2em;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .loginCenter h2 {
    font-size: 1em;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 10px;
  }
  .loginCenter .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 15%;
  }
  .loginCenter .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: 'Urbanist', sans-serif;
  
  }
  .loginCenter .inputbox:last-child {
    margin-bottom: 0;
  }
  .loginCenter .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: 'Urbanist', sans-serif;
  
  }
  .loginCenter .inputbox input:focus ~ span,
  .loginCenter .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
    font-family: 'Urbanist', sans-serif;
  }
  .loginCenter .inputbox [type="submit"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
  }
  .loginCenter .inputbox:hover [type="submit"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
  }
  
  .loginCenter h1 img {
    height: 3rem;
  }

}
